{
    "process": "keyboard",
    "screen": {
        "fullscreen": 1,
        "width": 1024,
        "height": 768,
        "shake_alpha_perc": 10
    },
    "serial": {
        "port": "/dev/ttyACM0",
        "baud": 115200,
        "timeout": 0.5
    },
    "cursor": {
        "style": "circle",
        "height": 10,
        "width": 10
    },
    "shake": {
        "threshold": 1,
        "reads": 3
    }
}